{% extends 'base.html' %}
        {% block title %}Login Form{% endblock title %}
        {% block heads %}
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
        {% endblock heads %}
    {% block content %}
        <div class="wrapper login-1">
            <div class="container">
                <div class="col-left">
                    <div class="login-text">
                        <h2>Reset Password</h2>
                        <p>Remember your password?</p>
                        <a class="btn" href="/login">Log In</a>
                    </div>
                </div>
                <div class="col-right">
                    <div class="login-form">
                        <h2>Enter New Password</h2>
                        <form id="forgot-password-form" method="post">
                            <p>
                                <label>Password<span>*</span></label>
                                <input type="password" name = "password" placeholder="Password" required>
                            </p>
                            <p>
                                <input type="submit" value="Confirm">
                            </p>
                            <p>
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    <ul>
                                        {% for category, message in messages %}
                                            <li class="{{ category }}">{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                {% endwith %}
                            </p>
                        </form>
{% endblock content %}
{% block scripts %}

{% endblock scripts %}